﻿.panel-dark {
    border-color: #cfdbe2;
    background-color: #000;
    color: #fff;
}

    .panel-dark > .panel-heading {
        color: #fff;
        background-color: #000;
        border-color: #3a3f51;
    }

.login-bg:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('/Content/Images/login-bg.jpg');
    width: 100%;
    height: 100%;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

.login-bg {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
}

/*.btn-primary {
    background-color: #fcca0b;
    color: #000;
}

.btn-primary:hover {
    background-color: #dcb006;
    border-color: #dcb006;
    color: #000;
}

    .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
        color: #000;
        background-color: #dcb006;
        border-color: #c39b06;
    }*/


.carousel-inner > .item {
    /*display: inline-block;*/
    height: 480px;
    /*vertical-align: middle;*/
}

        .carousel-inner > .item > img {
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
