﻿@model GarageConcept.ViewModels.Orders.CreateOrderViewModel

@{
    ViewBag.Title = "Nova OS";
}

<div id="urls"
     data-plate-details-url="@Url.HttpRouteUrl("Vehicles.GetDetails", new { plate = "ZZZ9999" })"
     data-user-details-url="@Url.HttpRouteUrl("Users.GetDetails", new { cpf = "99999999999" })"
></div>

<div class="row border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Nova OS</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">Listar OS</a>
            </li>
            <li class="active">
                <strong>Nova OS</strong>
            </li>
        </ol>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Orders", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
        {

            @Html.AntiForgeryToken()

            <fieldset>
                <legend>Preencha os dados abaixo</legend>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </fieldset>

            <div class="form-group">
                @Html.LabelFor(model => model.Plate, htmlAttributes: new { @class = "control-label col-sm-2 col-md-2" })
                <div class="col-sm-4 col-md-3">
                    @Html.EditorFor(model => model.Plate, new { htmlAttributes = new { @class = "form-control form-control-rounded plate", data_masked = "", data_inputmask = "'mask': 'aaa-9999'" } })
                    @Html.ValidationMessageFor(model => model.Plate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Chassis, htmlAttributes: new { @class = "control-label col-sm-2 col-md-2" })
                <div class="col-sm-6 col-md-4">
                    @Html.EditorFor(model => model.Chassis, new { htmlAttributes = new { @class = "form-control form-control-rounded", maxlength = 17 } })
                    @Html.ValidationMessageFor(model => model.Chassis, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VehicleModel, htmlAttributes: new { @class = "control-label col-sm-2 col-md-2" })
                <div class="col-sm-6 col-md-4">
                    @Html.EditorFor(model => model.VehicleModel, new { htmlAttributes = new { @class = "form-control form-control-rounded" } })
                    @Html.ValidationMessageFor(model => model.VehicleModel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerCpf, htmlAttributes: new { @class = "control-label col-sm-2 col-md-2" })
                <div class="col-sm-6 col-md-4">
                    @Html.EditorFor(model => model.OwnerCpf, new { htmlAttributes = new { @class = "form-control form-control-rounded cpf", data_masked = "", data_inputmask = "'mask': '999.999.999-99'" } })
                    @Html.ValidationMessageFor(model => model.OwnerCpf, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerName, htmlAttributes: new { @class = "control-label col-sm-2 col-md-2" })
                <div class="col-sm-6 col-md-4">
                    @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control form-control-rounded" } })
                    @Html.ValidationMessageFor(model => model.OwnerName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-sm-2 col-md-2" })
                <div class="col-sm-6 col-md-4">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 3 })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Criar" class="btn btn-success" />
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/inputmask")
    <script src="~/Scripts/app/orders/create-edit.js"></script>
}
