﻿@model GarageConcept.ViewModels.Orders.OrderDetailsViewModel

@{
    ViewBag.Title = "Detalhes";
}

<div class="row border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>OS @Model.Id.ToString()</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">Listar OS</a>
            </li>
            <li class="active">
                <strong>OS @Model.Id.ToString()</strong>
            </li>
        </ol>
    </div>
</div>

<div id="urls" data-url-get-images="@Url.HttpRouteUrl("Orders.GetImages", new { id = Model.Id })"></div>


@if (Model.IsAdmin)
{

    <div class="row">
        <div class="col-xs-12">
            <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</a>
            <a href="@Url.Action("GeneratePassword", new { id = Model.Id })" class="btn btn-primary"><i class="fa fa-lock"></i> Gerar Senha</a>
        </div>
    </div>

}
<div class="row pt">
    <div class="col-xs-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Detalhes da OS</a></li>
            @if (Model.IsAdmin)
            {
                <li role="presentation"><a href="#images" aria-controls="images" role="tab" data-toggle="tab">Imagens</a></li>
            }
            <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">Histórico</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="details" style="font-size:large">
                <div class="row mt-lg">
                    <div class="col-xs-12 col-md-4">

                        <h4 class="text-info">Dados da OS</h4>
                        <div class="row">
                            <div class="col-sm-4"><strong>Número:</strong></div>
                            <div class="col-sm-8">@Model.Id.ToString()</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><strong>Placa:</strong></div>
                            <div class="col-sm-8" data-masked="" data-inputmask="'mask': 'aaa-9999'">@Model.PlateNumber</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><strong>Chassi:</strong></div>
                            <div class="col-sm-8">@Model.Chassis</div>
                        </div>
                        <hr />

                        <h4 class="text-info">Dados do Proprietário</h4>
                        <div class="row">
                            <div class="col-sm-4"><strong>Nome:</strong></div>
                            <div class="col-sm-8">@Model.OwnerName</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><strong>CPF:</strong></div>
                            <div class="col-sm-8" data-masked="" data-inputmask="'mask': '999.999.999-99'">@Model.OwnerCpf</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><strong>Telefone:</strong></div>
                            <div class="col-sm-8">@Model.OwnerPhone</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><strong>Email:</strong></div>
                            <div class="col-sm-8">@Model.OwnerEmail</div>
                        </div>
                        <hr />

                        <h4 class="text-info">Descrição</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <p>@Model.Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h4 class="text-info">Fotos</h4>
                        @if (Model.Images.Any())
                        {
                            <!-- START carousel-->
                            <div id="carousel-example-captions" data-ride="carousel" data-interval="false" class="carousel slide img-center">
                                <ol class="carousel-indicators">
                                    @{ int i = 0; }
                                    @foreach (var image in Model.Images)
                                    {
                                        <li data-target="#carousel-example-captions" data-slide-to="@i" class="@Html.Raw(i == 0 ? "active" : string.Empty)"></li>
                                        i++;
                                    }
                                </ol>
                                <div role="listbox" class="carousel-inner">
                                    @{ i = 0; }
                                    @foreach (var image in Model.Images)
                                    {
                                        <div class="item @Html.Raw(i == 0 ? "active" : string.Empty)">
                                            <img src="@Url.Action("GetFile", "Images", new { id = image, thumbnail = false })" alt="Second slide image" class="img-responsive" />
                                        </div>
                                        i++;
                                    }
                                </div>
                                <a href="#carousel-example-captions" role="button" data-slide="prev" class="left carousel-control">
                                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a href="#carousel-example-captions" role="button" data-slide="next" class="right carousel-control">
                                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <!-- END carousel-->
                        }
                        else
                        {
                            <div class="alert alert-info" role="alert">Nenhuma foto disponível ainda!</div>
                        }
                    </div>
                </div>
            </div>
            @if (Model.IsAdmin)
            {
                <div role="tabpanel" class="tab-pane" id="images" style="font-size:large">
                    <div class="row">

                        <div class="col-xs-3">
                            <a href="@Url.Action("Add", "Images", new { id = Model.Id })" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar Imagens</a>
                        </div>
                        <div class="row-masonry row-masonry-md-8 row-masonry-sm-6 order-images" style="padding-top:10px">
                        </div>
                    </div>
                </div>
            }
            <div role="tabpanel" class="tab-pane" id="history">
                <div class="row">

                    <div class="col-xs-12">
                        <table data-column-selection="false" id="grid-history" data-get-url="@Url.HttpRouteUrl("Orders.GetHistory", new { orderId = Model.Id })" class="table table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th data-visible="false" data-identifier="true" data-column-id="Id"></th>
                                    <th data-header-css-class="col-xs-3" data-column-id="CreatedAt" data-formatter="date">Data</th>
                                    <th data-header-css-class="col-xs-9" data-column-id="Description" data-formatter="owner">Descrição</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/css/bootgrid")
    <link href="~/Content/app/css/images/carousel.css" rel="stylesheet" />
}

@section Scripts {
    @Scripts.Render("~/bundles/bootgrid")
    @Scripts.Render("~/bundles/bootgrid-fa")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/pages/orders/details")
    <script src="~/Scripts/plugins/moment/moment-with-locales.min.js"></script>
}
