﻿@model GarageConcept.ViewModels.Orders.GeneratePasswordViewModel

@{
    ViewBag.Title = "Gerar Senha";
}

<div class="row border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Placa <span data-masked="" data-inputmask="'mask': 'aaa-9999'">@Model.PlateNumber</span></h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">Listar OS</a>
            </li>
            <li>
                <a href="@Url.Action("Details", new { id = Model.OrderId })" data-masked="" data-inputmask="'mask': 'aaa-9999'">
                    @Model.PlateNumber
                </a>
            </li>
            <li class="active">
                <strong>Gerar Senha</strong>
            </li>
        </ol>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        @using (Html.BeginForm("GeneratePassword", "Orders", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
        {

            @Html.AntiForgeryToken()
            @Html.HiddenFor(o => o.OrderId)

            <fieldset>
                <legend>Anote a senha abaixo, e selecione o botão "Atualizar Senha".</legend>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </fieldset>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-sm-2 col-md-2" })
                <div class="col-sm-4 col-md-3">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-rounded" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Atualizar Senha" class="btn btn-success" />
                    @Html.ActionLink("Voltar", "Details", new { id = Model.OrderId }, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>


@section Styles {

}

@section Scripts {
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/pages/orders/details")
}
