﻿
@{
    ViewBag.Title = "Ordem de Serviço";
}

<div class="content-heading">
    OS
    <small>Listagem de Ordens de Serviço</small>
</div>

@if (GarageConcept.Helpers.AuthHelper.IsAdmin())
{
    <div class="row">
        <div class="col-xs-3">
            <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa fa-plus"></i> Nova OS</a>
        </div>
    </div>
}
<div class="row pt-sm pt-lg">
    <div class="col-xs-12">
        <table data-column-selection="false" id="grid-orders" data-get-url="@Url.HttpRouteUrl("Orders.Get", new { })" data-delete-url="@Url.HttpRouteUrl("Orders.Delete", new { id = 0 })" data-edit-url="@Url.Action("Edit", new { Id = 0 })" data-details-url="@Url.Action("Details", new { Id = 0 })" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th data-header-css-class="col-xs-2" data-identifier="true" data-column-id="Id">OS</th>
                    <th data-header-css-class="col-xs-3" data-column-id="PlateNumber" data-formatter="vehicle">Veículo</th>
                    <th data-header-css-class="col-xs-3" data-column-id="Owner" data-formatter="owner">Proprietário</th>
                    <th data-header-css-class="col-xs-2" data-column-id="Status" data-formatter="status">Status</th>
                    <th data-header-css-class="col-xs-2" data-column-id="commands" data-formatter="commands"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


    @section Styles {
        @Styles.Render("~/css/bootgrid")
    }


    @section Scripts
{
        @Scripts.Render("~/bundles/inputmask")
        @Scripts.Render("~/bundles/bootgrid")
        @Scripts.Render("~/bundles/bootgrid-fa")
        @Scripts.Render("~/bundles/pages/orders/index")
    }