﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin App + jQuery">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">

    <title>Garage Concept</title>
    <!-- =============== BOOTSTRAP STYLES ===============-->
    @Styles.Render("~/css/bootstrap")
    <link href="~/Content/plugins/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />

    <!-- =============== VENDOR STYLES ===============-->
    @Styles.Render("~/css/fontawesome")
    @Styles.Render("~/css/simpleLineIcons")
    @Styles.Render("~/css/animate")
    @Styles.Render("~/css/whirl")
    @Styles.Render("~/css/sweet-alert")
    @Styles.Render("~/css/toastr")
    <!-- =============== APP STYLES ===============-->
    @Styles.Render("~/css/app")

    <!-- =============== PAGE VENDOR STYLES =============== -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

</head>
<body>
    <div class="wrapper">
        <!-- top navbar-->
        <header class="topnavbar-wrapper">
            @Html.Partial("_TopNavbar")
        </header>
        <!-- sidebar-->
        <aside class="aside">
            @Html.Partial("_Sidebar")
        </aside>
        <!-- Main section-->
        <section>
            <!-- Page content-->
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </section>
        <!-- Page footer-->
        <footer>
            @Html.Partial("_Footer")
        </footer>
    </div>
    <div id="flags" data-admin="@GarageConcept.Helpers.AuthHelper.IsAdmin().ToString()"></div>

    @RenderSection("modal", required: false)
    
    <!-- =============== VENDOR SCRIPTS ===============-->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweet-alert")
    @Scripts.Render("~/bundles/toastr")
    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    @RenderSection("scripts", required: false)
    <!-- =============== APP SCRIPTS ===============-->
    @Scripts.Render("~/bundles/GarageConcept")
</body>
</html>