﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin App + jQuery">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>Garage Concept</title>
    <!-- =============== VENDOR STYLES ===============-->
    @Styles.Render("~/css/fontawesome")
    @Styles.Render("~/css/simpleLineIcons")
    @Styles.Render("~/css/animate")
    @Styles.Render("~/css/whirl")
    @Styles.Render("~/css/sweet-alert")
    @Styles.Render("~/css/toastr")
    <!-- =============== PAGE VENDOR STYLES =============== -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    <!-- =============== BOOTSTRAP STYLES ===============-->
    @Styles.Render("~/css/bootstrap")
    <link href="~/Content/plugins/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- =============== APP STYLES ===============-->
    @Styles.Render("~/css/app")
</head>

<body>
    <div class="login-bg">
        <div class="wrapper">
            @RenderBody()
            <div class="p-lg text-center" style="color:#fff">
                <span>&copy;</span>
                <span>Garage Concept</span>
                <br />
                <span>2017 - @DateTime.Today.Year.ToString()</span>
            </div>
        </div>
    </div>

    <!-- =============== VENDOR SCRIPTS ===============-->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweet-alert")
    @Scripts.Render("~/bundles/toastr")
    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    @RenderSection("scripts", required: false)
    <!-- =============== APP SCRIPTS ===============-->
    @Scripts.Render("~/bundles/GarageConcept")

</body>

</html>